body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
p {
  margin: 0;
}
h1 h2 {
  margin: 0;
}

/* GAP */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.navbar {
  position: static;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.navbar_content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
}

/* GAP */

.navbar_elements {
  text-underline-offset: 8px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.navbar_lang {
  padding: 2px 6px;
  border: 1px solid white;
  background-color: white;
}
.navbar_startbtn {
  padding: 14px 28px;
  background-color: #efae35;
  border: 1px solid white;
  border-radius: 30px;
}
.navbar_elements:hover {
  text-decoration: underline;
}
.navbar_lang:hover {
  border-radius: 10px;
  border: 1px solid black;
}
.navbar_startbtn:hover {
  border: 1px solid black;
}

/* GAP */

.photo1 {
  background: url(1.jpg);
  height: 1000px;
  background-position: center;
  background-size: cover;
}
.photo1_blocks {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  width: 1000px;
  height: 1000px;
  padding: 0 75px;
}
.photo1_block1 {
  width: 566px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  gap: 20px;
  padding: 10px 15px;
  background-color: hsla(0, 0%, 100%, 0.2);
}
.photo1_block1 h1 {
  font-weight: 400;
  margin: 0;
  font-size: 60px;
}
.photo1_block1 p {
  font-weight: 400;
  margin: 0;
  font-size: 18px;
}
.photo1_block2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.photo1_block2 a {
  background-color: hsla(0, 0%, 100%, 0.2);
  transition: background-color ease-in 0.2s;
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  font-size: 18px;
}
.photo1_block2 a:hover {
  background-color: hsl(0, 0%, 100%);
}

/* GAP */

.div2 {
  padding: 90px 90px;
}
.introducement {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 500px;
}
.introducement h1 {
  font-weight: 400;
  margin: 0;
  font-size: 60px;
}
.introducement p {
  font-size: 18px;
  line-height: 30px;
  color: black;
  margin: 0;
}
.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.buttons_1 {
  padding: 14px 28px;
  background-color: #efae35;
  border: transparent;
  border-radius: 30px;
}
.buttons_1:hover {
  border: 1px solid black;
}
.buttons_2 {
  text-underline-offset: 8px;
  font-size: 18px;
  color: black;
  cursor: pointer;
}
.left-side {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 24px;
}
.img1 img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.intro {
  display: grid;
  justify-content: center;
  padding: 90px;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

/* GAP*/

.second {
  padding-block: 50px;
}
.second_static {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.second_static h1 {
  font-size: 44px;
  font-weight: 400;
}
.second_static p {
  font-size: 18px;
  line-height: 30px;
  color: black;
  margin: 0;
}
.second_static1 {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  gap: 34px;
}
.second_static1 h1 {
  margin: 0;
  font-size: 58px;
  font-weight: 400;
}
.second_static1 p {
  font-size: 16px;
  line-height: 22px;
}
.second_static1 span {
  font-size: 10px;
  font-weight: 400;
}
.second_content {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
}
.second_img img {
  border-radius: 40px;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* GAP */

.third {
  padding-block: 50px;
}
.third_1p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.third_1p h1 {
  margin: 0;
  font-size: 44px;
  font-weight: 400;
}
.third_1p p {
  font-size: 18px;
  line-height: 30px;
  color: black;
  margin: 0;
}
.third_paragraph {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  gap: 34px;
}
.third_paragraph h1 {
  margin: 0;
  font-size: 58px;
  font-weight: 400;
}
.third_paragraph p {
  font-size: 16px;
  line-height: 22px;
}
.third_paragraph span {
  font-size: 10px;
  font-weight: 400;
}
.third_all {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 38px;
}
.third_img img {
  border-radius: 50px;
  display: inline-block;
  max-width: 480px;
  height: 320px;
}

/* GAP */

.fourth {
  padding-block: 50px;
}
.fourth_paragraph1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.fourth_paragraph1 h1 {
  font-size: 44px;
  font-weight: 400;
  margin: 0;
}
.fourth_paragraph1 p {
  font-size: 16px;
  line-height: 22px;
}
.fourth_paragraph {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  gap: 34px;
}
.fourth_paragraph h1 {
  margin: 0;
  font-size: 58px;
  font-weight: 400;
}
.fourth_paragraph p {
  font-size: 16px;
  line-height: 22px;
}
.fourth_paragraph span {
  font-size: 10px;
  font-weight: 400;
}
.fourth_content {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
}
.fourth_img img {
  border-radius: 40px;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* GAP */

.feature {
  padding: 150px;
}
.feature_title h1 {
  margin: 0;
  font-size: 44px;
  text-align: center;
}
.feature_logos img {
  width: 98px;
  height: 40px;
}
.feature_logos {
  width: 800px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 70px;
}
.feature_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

/* GAP */

.video {
  background: url(4.png);
  min-height: 880px;
  background-size: cover;
}
.inner {
  padding: 90px;
  min-height: 880px;
  gap: 36px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inner h1 {
  font-size: 58px;
  font-weight: 400;
}
.inner-text {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  color: white;
}
.inner-text h1 {
  font-size: 58px;
  font-weight: 400;
}
.inner-text p {
  font-size: 16px;
  font-weight: 400;
}
.video_button {
  display: flex;
  align-items: center;
  gap: 20px;
}
.video_button button {
  border: none;
  height: 126px;
  width: 126px;
  font-size: 28px;
  cursor: pointer;
  background: white;
}
.video_button button:active {
  background: rgb(185, 181, 181);
}
.btn-2 {
  color: white;
}
.btn-2 span {
  font-size: 10px;
}
.btn-2 h2 {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}
